{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=2901378; 
var sc_invisible=1; 
var sc_security="be706774"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="web counter"
href="http://statcounter.com/free-hit-counter/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/2901378/0/be706774/1/"
alt="web counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
